<footer class="bg-gray-100 text-gray-600 p-4 text-center text-sm">
  <p>&copy; 2025 NovaNest. All rights reserved.</p>
  <div class="mt-2">
    <a href="/privacy" class="mx-2 hover:underline">Privacy Policy</a>
    <a href="/terms" class="mx-2 hover:underline">Terms of Use</a>
  </div>
</footer>