<form class="mt-6 bg-white shadow p-4 rounded">
  <label for="email" class="block text-sm mb-2">Subscribe to our newsletter</label>
  <div class="flex">
    <input type="email" id="email" name="email" placeholder="Your email" class="flex-grow p-2 border rounded-l">
    <button type="submit" class="bg-blue-500 text-white px-4 rounded-r">Subscribe</button>
  </div>
</form>